<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <div class="col-lg-12" style="background-color:#eee;margin-bottom:50px;">
        <div class="container"  style="background-color:#eee;">
            <nav class="navbar navbar-expand-sm navbar-light bg-faded" >
                <!-- Brand -->
                <a class="navbar-brand" href="#">
                    <img src="https://symfony.com/images/v5/logos/header-logo.svg" alt="" height="30px">
                </a>

                <!-- Links -->
                <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
                    <ul class="navbar-nav" style="float:right;list-style-type:none;">
                        {% if app.user == null %}
                        <li class="nav-item" style="padding:10px">
                            <a class="nav-link" href="/" style="color:#000;">Login</a>
                        </li>
                        <li class="nav-item" style="padding:10px">
                            <a class="nav-link" href="/register" style="color:#000;">Register</a>
                        </li>
                        {% endif %}

                        {% if app.user != null %}
                        <li class="nav-item" style="padding:10px">
                            <a class="nav-link" href="/dashboard" style="color:#000;">Hi {{ app.user.name }}</a>
                        </li>
                        <li class="nav-item" style="padding:10px">
                            <a class="nav-link" href="/logout" style="color:#000;">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
    </body>
    </html>
