{% extends 'base.html.twig' %}

{% block body %}

{% if app.session.flashBag.has('failure') %}
  {% for msg in app.session.flashBag.get('failure') %}
    <script>alert('{{ msg }}')</script>
  {% endfor %}
{% endif %}

{% if app.session.flashBag.has('success') %}
  {% for msg in app.session.flashBag.get('success') %}
    <script>alert('{{ msg }}')</script>
  {% endfor %}
{% endif %}

<div class="container">

    <div class="row">

        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-success">

                <div class="panel-heading" style="text-align:center;">Users List</div>

                {% if is_granted('ROLE_ADMIN') %}

                  <table class="table">

                      <tr>
                          <th>S.N.</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Action</th>
                      </tr>
                      {%  set i = 1 %}
                      {% for user in usersList %}

                        <tr>

                          <td>{{ i }}</td>
                          <td>{{ user.name }}</td>
                          <td>{{ user.email }}</td>
                          <td>
                            <form action="{{ url('admin_user_delete', {id: user.id}) }}" method="post" onsubmit="return confirmation(this);">
                                <input type="hidden" name="_token" value="{{ custom_token }}"/>
                                <button type="submit" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Delete
                                </button>
                            </form>
                          </td>

                        </tr>
                        {%  set i = i+1 %}
                      {% endfor %}

                  </table>
                {% else %}
                   <h3 style="text-align:center;margin-top:30px;">Users Dashboard</h3>
                {% endif %}

            </div>

        </div>

    </div>

</div>
<script>
  function confirmation(form){

    if(confirm('Are you sure..?')){
      return true;
    }
    return false;

  }
</script>
{% endblock %}