{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-default">

                <div class="panel-heading">Login</div>

                <div class="panel-body">

                    <form class="form-horizontal" role="form" method="POST" action="{{ path('security_login_check') }}">

                        {% if error %}

                            <div class="alert alert-danger">

                                {{ error.messageKey|trans(error.messageData) }}

                            </div>

                        {% endif %}

                        <div class="form-group">

                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">

                                <input id="email" type="email" class="form-control" name="_email" value="{{ last_username }}">

                            </div>

                        </div>

                        <div class="form-group">

                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">

                                <input id="password" type="password" class="form-control" name="_password">

                            </div>

                        </div>

                         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                         
                        <div class="form-group">

                            <div class="col-md-6 col-md-offset-4">

                                <button type="submit" class="btn btn-primary">

                                    <i class="fa fa-btn fa-sign-in"></i> Login

                                </button>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}